@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;800&family=Passion+One:wght@400;700;900&display=swap');


:root{

    --header-footer: #231942;
    --fundo: #9F86C0;
    --fundo2: #5E548E;

}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--fundo);
    font-family: 'Gabarito', sans-serif;
}

header{
    background-color: var(--header-footer);
    width: 100%;
    height: 80px;
}

header > nav{
    text-align: end;
    height: 20px;
    padding: 10px;
    padding-top: 27px;
}

header > nav > a{
    padding: 5px 25px;
    color: white;
    text-decoration: none;
}

section.home{
    padding: 50px;
    padding-top: 150px;
    color: white;
    display: flex;
    justify-content: center;
}

div.text-home{
    background-color: transparent;
    padding: 50px;
    padding-top: 110px;
    font-size: 32px;
}

div.text-home > span{
    font-size: 70px;
}

div.text-home > hr{
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
    margin-top: 25px;
    width: 350px;
}

div.buttons-home{
    padding-top: 15px;
}

div.buttons-home > button{
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    border: 3px solid white;
    background-color: transparent;
}

div.buttons-home > button > a{
    color: white;
    text-decoration: none;
}

div.img-home{
    background-color: transparent;
}

img{
    width: 700px;
    height: 557px;
}


    
